body {
	background-color: #BAC0AC;
}

h1 {
	color: #233233;
	font-family: "Amatic SC";
	margin: 30px;
	font-size: 65px;
}

div.Construction_Message {
	margin: 30px;
}

p {
	color: #233233;
	font-size: 25px;
	margin: 3px;
	margin-left: 30px;
	margin-right: 30px;
}

p.ASC {
	font-family: "Amatic SC";
}

p.Chewy {
	font-family: "Chewy";
}

p.GH {
	font-family: "Gloria Hallelujah";
}

p.Aldrich {
	font-family: "Aldrich";
}

p.GB {
	font-family: "Gentium Basic";
}

p.Synco {
	font-family: "Syncopate";
}

a {
	color: #BAC0AC;
}

/* Website Journal CSS */