/* GLOBAL STYLES
-------------------------------------------------- */
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

/* Modifications deviating from bootstrap templates reside here */
.cover-bg {
    background-image: url("./../images/galaxy_cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dusk-grad {
    /* background: linear-gradient(#084168, #ffd89b); */
    background-color: #d9c296;    
}

.dark-blue {
    background: #19547b;
}

.black-text {
    color: black;
    font-weight: 400;
}

.text-border {
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* Allocated fixed space for text */
.card-text-fix {
    height: 168px;
    max-height: 168px;
    overflow: hidden;
    display: inline-block;
    max-width: 90%;
}

/* Album
------------------------- */

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/* Album Navigation Card
------------------------- */

.border {
    border: 3px solid #dee2e6 !important;
}

.rounded {
    border-radius: .5rem !important;
}

.nav-card {
    height: 350px;
    width: 100%;
    display: block;
}

.hover-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-hover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    height: 380px;
    width: 100%;
    
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(88, 88, 88);
}

.hover-container:hover .img-hover-overlay {
    opacity: .8;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.btn-margin {
    margin-bottom: 1rem;
}