/* GLOBAL STYLES
-------------------------------------------------- */
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

/* Modifications deviating from bootstrap templates reside here */
.cover-bg {
    background-image: url("./../images/galaxy_cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dusk-grad {
    /* background: linear-gradient(#084168, #ffd89b); */
    background-color: #d9c296;    
}

.dark-blue {
    background: #19547b;
}

.off-white {
    background-color: #efefef;
}

.black-text {
    color: black;
    font-weight: 400;
}

.text-border {
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* Allocated fixed space for text */
.card-text-fix {
    height: 168px;
    max-height: 168px;
    overflow: hidden;
    display: inline-block;
    max-width: 90%;
}

/* Album
------------------------- */

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.btn-margin {
    margin-bottom: 1rem;
}